<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ithujiaze.dao.Login_DataTableMapper">
    <resultMap id="BaseResultMap" type="com.ithujiaze.entity.Login_Data">
        <id column="Access_id" property="access_id"></id>
        <result column="Mac" property="mac"></result>
        <result column="Address" property="address"></result>
        <result column="Point_X" property="point_X"></result>
        <result column="Point_Y" property="point_Y"></result>
        <result column="Datetime" property="datetime"></result>
        <association property="user" javaType="com.ithujiaze.entity.User">
            <id column="User_Id" property="user_Id"/>
            <result column="Phone" property="phone"/>
            <result column="Password" property="password"/>
            <result column="Affiliation" property="affiliation"/>
            <result column="Username" property="username"/>
            <result column="Is_Delete" property="is_Delete"/>
            <result column="Is_Login" property="is_Login"/>
            <association property="role" javaType="com.ithujiaze.entity.Role">
                <id column="Role_Id" property="role_Id"/>
                <result column="Role_Name" property="role_Name"/>
                <result column="Role_Level" property="role_Level"/>
                <collection property="authoritys" ofType="com.ithujiaze.entity.Authority">
                    <id column="Authority_Id" property="authority_Id"/>
                    <result column="Authority_Name" property="authority_Name"/>
                </collection>
            </association>
        </association>
    </resultMap>
    <!--某人的全部数据-->
    <select id="GetLogin_DataById" parameterType="int" resultMap="BaseResultMap">
       select l.*,u.username,u.phone from login_table as l,user_table as u  WHERE u.user_Id =l.user_Id and l.user_Id=#{id} order by l.datetime desc
    </select>
    <!--某人当天的全部数据-->
    <select id="GetLogin_DataByIdNowDay" parameterType="int" resultMap="BaseResultMap">
       select l.*,u.username,u.phone from login_table as l,user_table as u  WHERE u.user_Id =l.user_Id and l.user_Id=#{id}
        and to_days(l.Datetime) = to_days(now()) order by l.datetime asc
    </select>
    <!--某人7天的全部数据-->
    <select id="GetLogin_DataByIdSevenDay" parameterType="int" resultMap="BaseResultMap">
       select l.*,u.username,u.phone from login_table as l,user_table as u  WHERE u.user_Id =l.user_Id and l.user_Id=#{id}
       and DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date(l.datetime) order by l.datetime asc
    </select>
    <!--某人7天的全部数据-->
    <select id="GetLogin_DataByIdOneMonth" parameterType="int" resultMap="BaseResultMap">
       select l.*,u.username,u.phone from login_table as l,user_table as u  WHERE u.user_Id =l.user_Id and l.user_Id=#{id}
       and DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt;= date(l.datetime) order by l.datetime asc
    </select>
    <!--某地的全部数据-->
    <select id="GetLogin_DataByAddress" resultMap="BaseResultMap" parameterType="String">
        select l.*,u.username,u.phone from login_table as l ,user_table as u where l.address like #{address}
        and l.user_id=u.user_id order by l.datetime desc
    </select>
    <!--某地当天的数据-->
    <select id="GetLogin_DataByAddressNowDay" resultMap="BaseResultMap" parameterType="String">
        select l.*,u.username,u.phone  from login_table as l ,user_table as u  where l.address like #{address}
         and l.user_id=u.user_id
         and to_days(l.Datetime) = to_days(now()) order by l.datetime asc
    </select>
    <!--某地7天的数据-->
    <select id="GetLogin_DataByAddressSevenDay" resultMap="BaseResultMap" parameterType="String">
        select l.*,u.username,u.phone from login_table as l ,user_table as u  where l.address like #{address}
        and l.user_id=u.user_id
        and DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date(l.datetime)  order by l.datetime asc
    </select>
    <!--某地30天的数据-->
    <select id="GetLogin_DataByAddressOneMonth" resultMap="BaseResultMap" parameterType="String">
        select l.*,u.username,u.phone from login_table as l ,user_table as u  where l.address like #{address}
        and l.user_id=u.user_id
        and DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt;= date(l.datetime)  order by l.datetime asc
    </select>
    <!--某地的数量-->
    <select id="GetLogin_NumByAddress" resultType="int" parameterType="String">
        select count(*) from login_table as l where l.address like #{address}
    </select>
    <!--某地当天的数量-->
    <select id="GetLogin_NumByAddressNowDay" resultType="int" parameterType="String">
        select count(*)  from login_table as l   where l.address like #{address}
         and to_days(l.Datetime) = to_days(now())
    </select>
    <!--某地7天的数量-->
    <select id="GetLogin_NumByAddressSevenDay" resultType="int" parameterType="String">
        select count(*) from login_table as l  where l.address like #{address}
        and DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date(l.datetime)
    </select>
    <!--某地30天的数量-->
    <select id="GetLogin_NumByAddressOneMonth" resultType="int" parameterType="String">
        select count(*) from login_table as l where l.address like #{address}
        and DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt;= date(l.datetime)
    </select>
    <!--插入数据-->
    <insert id="Insert" parameterType="com.ithujiaze.entity.Login_Data">
        insert into login_table(User_Id,Mac,Address,Point_X,Point_Y,Datetime)
         values (#{user.user_Id},#{mac},#{address},#{point_X},#{point_Y},#{datetime})
    </insert>
    <!--删除90天前的数据-->
    <delete id="DeleteLogin_DataByThreeMonth">
         delete from login_table where DATE_SUB(CURDATE(), INTERVAL 90 DAY) &gt;= date(Datetime)
    </delete>
</mapper>